<div class="container">
    <div class="row">
        <div>
            <h2 ng-show="!transactions">Loading transactions...</h2>
            <h2 ng-show="transactions.length == 0"> No transactions </h2>
        </div>
        <div class="col s12 m8 l6">
            <div ng-show="transactions.length > 0" class="card card-default preview">
                <div class="card-header">
                    <span class="status" ng-class="{'pending': viewTransaction .status == 'Pending', 'complete': viewTransaction .status == 'Approved'}">
                        [[viewTransaction.status]]
                    </span>
                    <a class="title"><h4>[[viewTransaction.title]]</h4></a>
                    <div class="additional-details">
                        <span class="type" ng-class="{'sent': viewTransaction.type == 'Sent', 'received': viewTransaction.type == 'Received'}">
                            <i ng-if="viewTransaction.type=='Received'" class="material-icons">inbox</i>
                            <i ng-if="viewTransaction.type=='Sent'"  class="material-icons">near_me</i>
                            &nbsp;[[viewTransaction.type]],&nbsp;
                        </span>
                        <span class="timestamp">[[viewTransaction.date | date: "fullDate"]]</span>
                    </div>
                </div>
                <div class="card-body">
                    <p class="particular">[[viewTransaction.description]]</p>

                    <h6 ng-show="viewTransaction">Attachments:</h6>
                    <ul class="files" ng-show="viewTransaction">
                        <li ng-if="viewTransaction.has_documents==0"><i> None</i></li>
                        <li ng-if="viewTransaction.has_documents==1"><i class="material-icons amber-text">attach_file</i>
                        Guidelines_for_Thesis.pdf</li>
                    </ul>

                    <p class="note">[[viewTransaction.note]]</p>

                </div>
                <div class="card-footer">
                    <a ng-show="viewTransaction" href="#!/transaction?id=[[viewTransaction.id]]" class="btn light-blue">View Transaction</a>
                </div>
            </div>
            <div ng-show="!transactions" class="">
                No Data
            </div>
        </div>
        <div class="col s12 m4 l6">
            <div class="fiter">
                <ul id="date-filter">
                    <li ng-click="changeDate('today')" style="cursor: pointer;"><a>TODAY</a></li>

                    <li ng-click="changeDate('yesterday')" style="cursor: pointer;"><a>YESTERDAY</a></li>
                    <li>
                        <input type="text" class="datepicker" placeholder="OTHER DATES" ng-model="dates" ng-change="changeDate()"/>
                    </li>
                </ul>
            </div>
            <div class="" ng-show="!transactions">
                No Data
            </div>
            <div ng-repeat="t in transactions" class="card card-default">
                <div class="card-body" ng-click="showTransaction(t)" style="cursor: pointer;">
                    <a class="title"><h4 class="truncate">[[t.title]]</h4></a>
                    <p class="particular">[[t.description]]</p>
                    <section class="additional-details">
                        <span class="type" ng-class="{'sent': t.type == 'Sent', 'received': t.type == 'Received'}">
                            <i ng-if="t.type=='Received'" class="material-icons">inbox</i>
                            <i ng-if="t.type=='Sent'"  class="material-icons">near_me</i>
                            &nbsp;[[t.type]],&nbsp;
                        </span>
                        <span class="timestamp">[[t.date | date: "fullDate"]]</span>
                        <span class="status" ng-class="{'pending': t.status == 'Pending', 'complete': t.status == 'Approved'}">[[t.status]]</span>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
